#hiddenDiv1{
    display: inline-block;
    margin-top: 5%;
    margin-left: -15%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    padding: 10px;

}
.box{
    margin-bottom: 10%;
}

.edition {
    padding: 0;
  text-align: center;
    margin: 0;
}

label{
    font-size: small;
}
label[for=edition]{
    text-align: center;
    font-size: small;
}
