<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="static\css\user-profile.css">
    <title>User profile</title>
</head>
<body>
<header>
    <img src="static\img\logo.png" alt="QuestStore logo">
</header>
<div class="row">
    <aside class="menu col-3">
        <nav>
            <ul>
                <li><a href="#" class="button">Create Mentor</a></li>
                <li><a href="#" class="button">Create Group</a></li>
                <li><a href="#" class="button">Edit Mentor</a></li>
                <li><a href="#" class="button">Display Mentors</a></li>
                <li><a href="#" class="button">Manage Levels</a></li>
            </ul>
        </nav>
    </aside>
    <section class="col-6">
        <div class="col-6 user-info">
            <div class="col-12 profile-info">
                <ul>
                    <li>Full Name: {{ name }}</li>
                    <li>Email: {{ email }}</li>
                </ul>
            </div>
            <a href="#" class="contact-button">Contact Me!</a>
        </div>
    </section>

    <aside class="col-3 right-panel">
        <a href="/logout" class="sign-out-button button">Sign out</a>
    </aside>
</div>
<footer class="col-12">
    All rights reserved.
</footer>
</body>
</html>
