<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/style.css">
    <title>QuestStore</title>
</head>
<body>
<div class="containter">
    <div class="login-form">
        <form method="POST">
            <input name="login" type="text" placeholder="Login" required>
            <input name="password" type="password" placeholder="Password" required>
            <p>You have inputted wrong login or password</p>
            <input type="submit" value="Sign in">
        </form>
    </div>
</div>
</body>
</html>
